.start_btn button{
    font-size: 25px;
    font-weight: 300;
    color: #ffffee;
    background-color: #146b8d;
    padding: 10px 15px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .start_btn:hover button{
    color:#fff;
    background: rgb(52, 214, 37);
  }