.rules-btn {
  width:120px;
  height: 40px;
  color: #fff;
  background-color: #4CBB17;
  letter-spacing: 1.2px;
  font-size: 1rem;
  border-radius: 12px;
  margin-top: 10px;
  text-align: center;
  border-style: outset;
  cursor: pointer;
}

.rules-btn:hover {
  background-color: #52FF00;
}


.reset-btn {
  width:120px;
  height: 40px;
  color: #fff;
  background-color: #BB1717;
  letter-spacing: 1.2px;
  font-size: 1rem;
  border-radius: 12px;
  margin-top: 10px;
  text-align: center;
  border-style: outset;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #FF0000;
}

.close-modal-btn {
  width: 110px;
  height: 25px;
  background-color: #BB1717;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.2px;
  border-radius: 12px;
  margin-top: 2px;

}