#modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
}

.modal-header, title {
    font-size: 1.5rem;
    font-weight: bold;
}

#modal {
    max-width: 40%;
    height: 40%;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}

#modal, p {
    font-size: 105%;
    display: block;
}

