#modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    max-width: 40%;
    height: 40%;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}

.website-content {
    height: 1000vh;
}