* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    height: 100vh;
    background-image: url(/Assets/images/RPSLS-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
